body {
    font-family: 'Lateef', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b); /* Blue to white to pink gradient */
    background-size: cover;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    /* Set background image */
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b); /* Blue to white to pink gradient */
    background-size: cover;
    /* Other styles */
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.chapter-selector {
    position: relative;
    margin-bottom: 20px;
}

.chapter-selector select {
    appearance: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.chapter-selector select:focus {
    background-color: #fff;
}

.dropdown-icon {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #8A1538;
}

.verses-container {
    padding: 15px;
    font-size: 30px;
    background-color: #fff; /* Change background color to white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded border */
    color: #000; /* Change text color to black */
}
.verses-container.arabic-verse {
    font-family: 'Lateef', sans-serif; /* Set the font family for Arabic verses */
}

.verse-pair {
    margin-bottom: 15px;
}

.arabic-verse {
    font-family: 'Lateef', sans-serif; /* Change font-family */
    font-size: 50px; /* Change font size to 20px */
    line-height: 1.5;
    direction: rtl;
    text-align: right;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    border-left: 1px solid #2980b9;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.english-verse {
    font-family: 'Lateef', sans-serif;
    font-size: 35px; /* Change font size to 18px */
    line-height: 1.5;
    margin: 2px 0;
    padding: 0px;
    border-left: 1px solid #2980b9;
    background-color: #222;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.verse-separator {
    margin: 1px 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}


.verse {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 10px 2px 5px rgba(66, 243, 252, 0.5);
    position: relative;
}

.verse::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    bottom: 0;
    width: 4px;
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b); /* Use the same gradient as the background */
}


.verse:not(:last-child) {
    margin-bottom: 5px; /* Adjust margin-bottom for spacing between verses */
    padding-bottom: 10px; /* Adjust padding-bottom for space between separator and verse content */
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

/* New styles for top header and "Created with ❤ by Shariq Kazi" link */
.top-header {
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b); /* Blue to white to pink gradient */
    color: #000;
    text-align: center;
    padding: 15px 0;
}

.top-header h1 {
    margin: 0;
    font-size: 24px;
}

.chapter-selector select {
    appearance: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.chapter-selector select:focus {
    background-color: #fff;
}

.dropdown-icon {
    position: absolute;
    font-size: 30px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
}

.created-by {
    margin-top: 10px;
    font-size: 14px;
}

.created-by a {
    color: darkmaroon; /* Set link color to dark maroon */
    text-decoration: none;
}

.created-by a:hover {
    text-decoration: underline;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #3498db #3498db transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #FF3D00 #FF3D00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    

/* Logo styles */
.logo {
    text-align: center;
    margin: 2px 0; /* Add spacing above and below logo */
}

.logo img {
    width: 100px; /* Set logo width */
}

.status-bar-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: env(safe-area-inset-top);
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b);
    z-index: -1; /* Place it behind other elements */
}

.top {
  --offset: 50px; 

  position: sticky;
  bottom: 20px;      
  margin-right: 10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #fff;
  background: #3498db;
  border-radius: 100px;
  white-space: nowrap;
}

p {
  font-size: 25px;
}
