@font-face {
    font-family: 'Al Qalam Quran Majeed Web';
    src: url('font/Al Qalam Quran Majeed Web Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Al Qalam Quran Majeed Web', sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b); /* Blue to white to pink gradient */
    background-size: cover;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    /* Set background image */
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b); /* Blue to white to pink gradient */
    background-size: cover;
    /* Other styles */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.chapter-selector {
    position: relative;
    margin-bottom: 20px;
}

.chapter-selector select {
    appearance: none;
    padding: 10px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.chapter-selector select:focus {
    background-color: #fff;
}

.dropdown-icon {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
}

.verses-container {
    padding: 15px;
    background-color: #fff; /* Change background color to white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded border */
    color: #000; /* Change text color to black */
}
.verses-container.arabic-verse {
    font-family: 'Al Qalam Quran Majeed Web', sans-serif; /* Set the font family for Arabic verses */
}

.verse-pair {
    margin-bottom: 15px;
}

.arabic-verse {
    font-family: 'Al Qalam Quran Majeed Web', sans-serif; /* Change font-family */
    font-size: 50px; /* Change font size to 20px */
    line-height: 1.5;
    direction: rtl;
    text-align: right;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    border-left: 1px solid #2980b9;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.english-verse {
    font-family: 'Al Qalam Quran Majeed Web', sans-serif;
    font-size: 35px; /* Change font size to 18px */
    line-height: 1.5;
    margin: 2px 0;
    padding: 0px;
    border-left: 1px solid #2980b9;
    background-color: #222;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.verse-separator {
    margin: 1px 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}


.verse {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 10px 2px 5px rgba(66, 243, 252, 0.5);
    position: relative;
}

.verse::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    bottom: 0;
    width: 4px;
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b); /* Use the same gradient as the background */
}


.verse:not(:last-child) {
    margin-bottom: 5px; /* Adjust margin-bottom for spacing between verses */
    padding-bottom: 10px; /* Adjust padding-bottom for space between separator and verse content */
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

/* New styles for top header and "Created with ❤ by Shariq Kazi" link */
.top-header {
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b); /* Blue to white to pink gradient */
    text-align: center;
    padding: -10px 0;
}

.top-header h1 {
    margin: 0;
    font-size: 24px;
}

.chapter-selector select {
    appearance: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.chapter-selector select:focus {
    background-color: #fff;
}

.dropdown-icon {
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #8A1538;
}

.created-by {
    margin-top: 10px;
    font-size: 20px;
    color: darkmaroon;
    font-family: 'Montserrat', sans-serif;
    
}

.created-by a {
    color: darkmaroon; /* Set link color to dark maroon */
    text-decoration: none;
}

.created-by a:hover {
    text-decoration: underline;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #3498db #3498db transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #FF3D00 #FF3D00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    

/* Logo styles */
.logo {
    text-align: center;
    margin: 2px 0; /* Add spacing above and below logo */
}

.logo img {
    width: 300px; /* Set logo width */
}

.status-bar-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: env(safe-area-inset-top);
    background: linear-gradient(to bottom, #3498db, #ffffff, #ff6b6b);
    z-index: -1; /* Place it behind other elements */
}

.top {
  --offset: 50px; 

  position: sticky;
  bottom: 20px;      
  margin-right: 10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #fff;
  background: #3498db;
  border-radius: 100px;
  white-space: nowrap;
}

p {
  font-size: 30px;
  font-weight: medium;
}

/* New styles for the theme toggle button */
.theme-toggle {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-toggle:hover {
    background-color: #2980b9;
}

/* Dark mode styles */
body.dark-mode {
    background: linear-gradient(to bottom, #000, #333, #444); /* Dark background gradient */
    color: #fff; /* Light text color */
}

.verses-container.dark-mode {
    background-color: #333; /* Dark background color for verses container */
    color: #fff;
}

.verses-container.dark-mode .verse {
    background-color: #222; /* Dark background color for individual verses */
    color: #fff; /* Light text color for verses text */
}

/* ... (rest of your CSS) ... */
/* Add your existing CSS styles here */
/* Add styles for the English Translation toggle switch and label */
.english-translation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.translation-label {
  font-size: 16px;
  margin-left: 8px;
}

/* iOS-style toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3498db; /* Change background color when active */
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white; /* Change circle color when active */
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3498db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

h2 {
  display: block;
  font-size: 1em; /* Change font size to 1em */
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.verses-container {
  margin-block-end: 15px;
  margin-block-start: 15px;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}
